<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<configSections>
        <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
    </configSections>-->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="QLGN.Properties.Settings.CATSHIPConnectionString"
      connectionString="Data Source=;Initial Catalog=CATSHIP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CATSHIPEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=CATSHIP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="QLGN.Properties.Settings.CATSHIPConnectionString1"
      connectionString="Data Source=MANHHUNG97;Initial Catalog=CATSHIP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--GhiLog-->
  <!--hi-->
  <log4net >
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt" /> <!--ghi thành tin file-->
      <appendToFile value="true"/> <!---->&gt;
      <rollingStyle value="Size"/> <!---->&gt;
      <maximumFileSize value="20MB"/> <!--Max dung lượng file-->&gt;
      <maximumRollBackups value="10"/> <!--Số ký tự được thay thế khi đầy và trước khi thay thế-->&gt;
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{0} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>